/* RESET */
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
em,
img,
u,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
article,
aside, 
figure,
figcaption,
footer,
header,
nav,
strong,
section,
time,
audio,
video{
  border:0;
  font-size:100%;
  font:inherit;
  margin:0;
  padding:0;
  vertical-align:baseline;
  box-sizing: border-box;
}
html{scroll-behavior:smooth;}
body{
  background:#fff;
  color:#000;
  font-family:Arial, Helvetica, sans-serif;
  font-size:14px;
  line-height:1;
}
ol, 
ul,
li{list-style:none;}
strong{font-weight: bold;}
table{
  border-collapse:collapse;
  border-spacing:0;
  width:100%;
}
a,
a:hover{
  color:#000;
  text-decoration:none;
  cursor:pointer;
}
:focus{outline:0;}
:hover{transition:.3s ease;}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
textarea,
select{
  border:0;
  border-bottom:1px solid #000;
  color:#000;
  padding:8px 0;
  font:14px Arial, Helvetica, sans-serif;
  background:transparent;
  width:100%;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
textarea:focus,
select:focus{border-color:#900;}
input[type="submit"],
input[type="button"],
button{
  border:1px solid #000;
  text-transform:uppercase;
  padding:10px 30px;
  color:#000;
  font:12px Arial, Helvetica, sans-serif;
  background:transparent;
}
input[type="text"]:placeholder,
input[type="email"]:placeholder,
input[type="tel"]:placeholder,
input[type="search"]:placeholder,
input[type="url"]:placeholder{color:#666;}
/* Centralizar Texto*/
.text-center{
    text-align: center;
}
/* Container */
.container{
    max-width: 100%;
    margin: 0 16px;
}
/* Profile */
.profile{margin: 32px;}
.profile section h2{
    font: 400 36px/40px 'Comfortaa';
    margin: 32px 0 16px;
}
.profile section h4, .btn-black a, .btn-white a{
    font: 900 13px 'Roboto';
}
.profile section h4{
    text-transform: uppercase;
}
/* Botões */
.botoes{
    margin-bottom: 32px;
}
.btn-black a, .btn-white a{
    display: flex;
    justify-content: center;
    padding: 19px 0;
} 
.btn-black, .btn-white a{
    border-radius: 6px;
    text-transform: uppercase;
}
/* Follow */
.btn-black{
    background: #000;
    margin: 0 0 16px;
}
.btn-black a{
    color: #fff;
}
/* Messagem */
.btn-white a{
    color: #000;
    border: 2px solid #000
}
/* Galeria */
.galeria{
    display: flex;
    gap: 9px;
    margin-bottom: 32px;
    justify-content: space-around;
}
.grid-um, .grid-dois{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 50%;
    gap: 9px;
}
.grid-dois{
    grid-column: 2;
}
/* Veja Mais */
.more{
    margin-bottom: 148px;
}
/* Menu */
.menu{
    background: #fff;
    border-top: 2px solid #E5E5E5;
    bottom: 0;
    display: flex;
    padding: 9px 0 34px;
    position: fixed;
    width: 100%;
    justify-content: space-around;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}